body {
	background: #FFFFFF;
}

.outer-box {
	margin-top: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#image-box {
	height: 80vh;
	width: 130vh;
	border-style: solid;
	border-width: 0.3vh;
	border-radius: 5vh;
	border-color: #696969;
	object-fit: cover;
	position: relative;
}

.btn {
	border-style: solid;
	border-width: 0.3vh;
	box-shadow: none;
	border-color: #696969;
	background-color: transparent;
	color: #696969;
	font-style: monospace;
	font-size: 5vh;
	height: 10vh;
	width: 10vh;
	border-radius: 5vh;
	position: absolute;
}

#left-btn {
	margin-right: 150vh;
}

#right-btn {
	margin-left: 150vh;
}

.btn:hover {
	background-color: #696969;
	color: #FFFFFF;
}